<div class="container" id="write">
    <form class="p-4" action="/save" method="post">
        <div class="mb-3">
            <label class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Title" name="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" name="content" >Content</label>
            <textarea class="form-control" rows="3" name="content" required placeholder="Your Blog Content Goes here"></textarea>
          </div>
          <button type="submit" class="text-succes btn btn-info" >save</button>
    </form>
</div>
