body {
    height: 100vh;
}

.navbar {
    background: #424769;
}

footer {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0px;
    position: fixed;
}

.navbar-brand {
    font-family: 'Marck Script', cursive;
    font-size: 2.5rem;
}
a{
text-decoration: none;
}
main {
    background: #e4f1e3;
    max-width: 70%;
    display: grid;
    place-items: center;
    border: 2px grey solid;
    border-radius: 15px;
}

#quote {
    max-width: 700px;
    font-family: comic;
    text-align: center;
}

#write {
    max-width: 600px;
}
#showall-body{
width:85%;
}
svg {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}